@import 'slide.css';
@import 'widget.css';
@import 'theme.css';
@import 'content.css';
@import 'images.css';
@import 'layout.css';
@import 'responsive.css';
@import 'body.css';
@import 'card.css';

nav {
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    fill: green;
}

body {
    overflow-x: hidden !important;
    color: black;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 28px;
}


h2 {
    font-size: 26px;
}


h3 {
    font-size: 24px;
}


h4 {
    font-size: 23px;
}


h5 {
    font-size: 22px;
}


h6 {
    font-size: 20px;
}

@media (max-width: 767px) {
    body {
        /*padding-top: 70vh;*/
    }
}

.top-container {
    background-color: white;
}


@media (max-width: 767px) {
    .top-container {
        transform: translate(0, -17px);
    }
}

.company-logo-nav-bar {
    height: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.288);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pz {
    padding: 0px;
}

.min-pad {
    padding: 5px !important;
}

.center {
    text-align: center;
}
