.lg-only {
    display: block;
}

.sm-only {
    display: none;
}

@media (max-width: 767px) {
    .lg-only {
        display: none !important;
    }

    .sm-only {
        display: block !important;
    }

    .mob-card {
        border-radius: 16px !important;
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
}
