.theme-colored {
    /*color: rgb(174, 0, 255) !important;*/
    color: rgb(0, 149, 217) !important;
}

.theme-colored-back {
    /*background-color: rgb(174, 0, 255) !important;*/
    background-image: -webkit-linear-gradient(left,#1976bc 0%,#8dc645 100%) !important;
    /*background-image: linear-gradient(#11c1b8, #00c15f) !important;*/
    /*background-image: linear-gradient(#0ec171, #099d5e);*/
}

.slide-button {
    background-image: linear-gradient(rgb(0, 170, 189), rgb(0, 128, 138));
    /*background-image: linear-gradient(rgb(174, 0, 255), rgb(153, 0, 223));*/
    /*box-shadow: 0 4px 8px 0 rgba(129, 6, 160, 0.2), 0 6px 20px 0 rgba(174, 0, 255, 0.19);*/
    box-shadow: 0 4px 8px 0 rgba(0, 170, 189, 0.2), 0 6px 20px 0 rgba(0, 170, 189, 0.19);
}

.slide-button:hover {
    background-image: linear-gradient(rgb(0, 128, 138), rgb(0, 170, 189));
    /*background-image: linear-gradient(rgb(149, 10, 184), rgb(174, 0, 255));*/
}

ul li::before {
    color: rgb(0, 170, 189) !important;
}
